@font-face {
    font-family: 'Circular Std Bold';
    src: url('fonts/CircularStd-Bold.woff2') format('woff2'),
        url('fonts/CircularStd-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('fonts/CircularStd-Medium.woff2') format('woff2'),
        url('fonts/CircularStd-Medium.woff') format('woff'),

}

@font-face {
    font-family: 'Circular Std Book';
    src: url('fonts/CircularStd-Book.woff2') format('woff2'),
        url('fonts/CircularStd-Book.woff') format('woff'),

}

@font-face {
    font-family: 'Monument Black';
    src: url('fonts/MonumentExtended-Black.woff') format('woff2'),
        url('fonts/MonumentExtended-Black.woff2') format('woff'),

}

@font-face {
    font-family: 'Monument Regular';
    src: url('fonts/MonumentExtended-Regular.woff') format('woff2'),
        url('fonts/MonumentExtended-Regular.woff2') format('woff'),

}

@font-face {
    font-family: 'Neue Montreal';
    src: url('fonts/NeueMontreal-Bold.woff2') format('woff2'),
        url('fonts/NeueMontreal-Bold.woff') format('woff'),

}

.navbar-brand {
    font-family: 'Circular Std Bold';
}

h2 {
    font-family: 'Neue Montreal'; 
    font-weight: bold;
}

.text-header {
    margin-top: 57vh;
}

.art1 {
    width: 50vh;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 15vh;
}

.art2 {
    width: 50vh;
    border-radius: 50%;
    border: 3px solid white;
}

.art3 {
    width: 50vh;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 25vh;
}

.card-title {
    font-family: 'Neue Montreal'; 
    font-weight: bold;
}

.card-text {
    font-family: 'Neue Montreal';
}

.btn-primary {
    font-family: 'Circular Std Book';
}

.card {
    border-radius: 10px;
    overflow: hidden;
}

.welcome {
    font-size: 7vw;
    font-family: 'Monument Black';
    z-index: 2;
    position: absolute;
    line-height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 20vw;
    color: white;
}
