@font-face {
    font-family: 'Circular Std Bold';
    src: url('fonts/CircularStd-Bold.woff2') format('woff2'),
        url('fonts/CircularStd-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'Circular Std Medium';
    src: url('fonts/CircularStd-Medium.woff2') format('woff2'),
        url('fonts/CircularStd-Medium.woff') format('woff'),

}

@font-face {
    font-family: 'Circular Std Book';
    src: url('fonts/CircularStd-Book.woff2') format('woff2'),
        url('fonts/CircularStd-Book.woff') format('woff'),

}

.navbar-brand {
    font-family: 'Circular Std Bold';
}

h2 {
    font-family: 'Circular Std Bold';
}

.text-header {
    margin-top: 57vh;
}

.art1 {
    width: 50vh;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 15vh;
}

.art2 {
    width: 50vh;
    border-radius: 50%;
    border: 3px solid white;
}

.art3 {
    width: 50vh;
    border-radius: 50%;
    border: 3px solid white;
    margin-top: 25vh;
}

.card-title {
    font-family: 'Circular Std Bold';
}

.card-text {
    font-family: 'Circular Std Book';
}

.btn-primary {
    font-family: 'Circular Std Book';
}

.card {
    border-radius: 10px;
    overflow: hidden;
}